.productContainer {
    margin: 2.5vw;
    text-align: center;
}

.image {
    max-width: 15vw;
    padding: 5px;
    margin: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.productName {
    align-items: center;
    text-align: center;
    margin: 5px;
    margin-top: 0;
}

.productsGrid {
    width: auto;
    display: flex;
    justify-content: space-around;
}